APP_ENV=development
APP_PORT=8080

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=task_api
DB_SSLMODE=disable

JWT_SECRET=change-me
JWT_EXPIRATION_HOURS=24
MIGRATIONS_PATH=file://migrations

ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=Admin123
ADMIN_NAME=Administrator
